.header-container {
    /* background-color: black; */
}

.greeting {
    margin-bottom: 20px; 
    font-size: xx-large;
    font-weight: bolder;
    color: white;
}

.app-description {
    margin-top: 20px; 
    font-size: small;
    color: rgba(255, 255, 255, 0.669)
}

.app-name {
    /* color: #36ce87; */
    color: #a1d7ec; 
    font-weight: bold; 
}

.link {
    color: #a1d7ec; 
}